#add-list-button {
	background: #eeb0ad;
	border-radius: 5pt;
	border-width: 0pt;
	font-size: 15pt;
	box-shadow: 0pt 0pt 2pt #00000088;
	margin-left: 10pt;
	margin-top: 6pt;
	transition: 0.3s;
	padding: 0pt;
	width: 20pt;
	height: 20pt;
}

#add-list-button:hover {
	box-shadow: 0pt 0pt 5pt #00000088;
	transition: 0.3s;
}
