#inputs {
	display: flex;
	flex-direction: column;
	max-width: 200pt;
	min-width: 150pt;
	margin-bottom: 10pt;
	border-radius: 5pt;
	transition: 0.25s;
	margin: 3pt;
	flex: 1;
}

#input-top {
	border-radius: 3pt 3pt 0pt 0pt;
}

#input-bottom {
	border-radius: 0pt 0pt 3pt 3pt;
	margin-bottom: 3pt;
}

#inputs:hover {
	background: #db5b5caa;
}

.field {
	width: calc(100% - 15pt);
	border-width: 0pt;
	margin: 3pt 0pt 0pt 5pt;
	padding: 5pt 0pt 5pt 5pt;
}

#actions {
	display: flex;
	flex-direction: row;
	padding: 2pt 0pt 5pt 2pt;
}

#delete-action {
	width: auto;
	flex: 1;
	margin-right: 5pt;
}

#save-container {
	display: flex;
	flex-direction: row;
	margin-right: 5pt;
}

@media (max-width: 450px) {
	#inputs {
		max-width: 100%;
		min-width: 100pt;
	}
}
