#inputs {
	display: flex;
	flex-direction: column;
	width: 200pt;
	height: 100pt;
	margin-bottom: 10pt;
	border-radius: 5pt;
	transition: 0.25s;
}

#inputs:hover {
	background: #ff000075;
}

.field {
	width: calc(100% - 15pt);
	border-width: 0pt;
	margin: 5pt 0pt 0pt 5pt;
	padding: 5pt 0pt 5pt 5pt;
}

#save {
	width: 35pt;
	border-radius: 0pt;
	margin: 5pt 5pt 10pt auto;
	border-width: 0pt;
	background: white;
}
