#Group-Header {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 5pt 5pt 5pt 5pt;
	display: flex;
	flex-wrap: wrap;
}

#Gifts {
	display: flex;
	flex-wrap: wrap;
	gap: 0pt;
	padding: 3pt;
}

#group-name {
	margin-right: auto;
}
