#List-Header {
  width: calc(100% - 20pt);
  font-size: inherit;
  align-items: start;
  justify-content: left;
  text-align: left;
  margin: 10pt;
  border: none;
  padding: 0pt 0pt 0pt 10pt;
  border-radius: 5pt;
}
