#List {
	width: calc(100% - 20pt);
	margin: 10pt;
	border-radius: 5pt;
	overflow: hidden;
}

#List-Header {
	align-items: center;
	justify-content: left;
	text-align: left;
	border: none;
	padding: 5pt 5pt 5pt 2pt;
	background-color: #0000;
	display: flex;
	flex-wrap: wrap;
}

#List-Button {
	flex: 1;
	font-size: inherit;
	align-items: start;
	justify-content: left;
	text-align: left;
	border: none;
	background-color: #f0f0;
	display: flex;
}

@media (max-width: 575px) {
	#List-Header {
		display: block;
	}
}
