#header {
  height: 50pt;
  padding: 10pt;
  background: #ffffff88;
  display: flex;
  align-items: center;
  position: relative;
}

#gg-logo {
  height: auto;
  width: 200pt;
}

#title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

#profile {
  margin: 0pt 0pt 0pt auto;
}
