#screen {
	align-items: center;
}

#header {
	padding: 10pt;
	display: flex;
	align-items: center;
	position: relative;
}

#gg-logo {
	height: auto;
	max-width: 200pt;
	min-width: 100pt;
}

#title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}

#content {
	max-width: 1600px;
	margin: 0 auto;
}
