#screen {
	align-items: center;
}

#header {
	padding: 10pt;
	display: flex;
	align-items: center;
	position: relative;
}

#gg-logo {
	height: auto;
	max-width: 200pt;
	min-width: 100pt;
}

#title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}

#profile {
	font-weight: bold;
	margin: 0pt 0pt 0pt auto;
	padding: 5pt;
	border: none;
	border-radius: 10pt;
	background: none;
	box-shadow: 0pt 0pt 0pt #0000;
	transition-duration: 0.5s;
}
#profile:hover {
	box-shadow: 0pt 0pt 10pt #0005;
	transition-duration: 0.25s;
}

#content {
	max-width: 1600px;
	margin: 0 auto;
}
