#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#wrapper {
	width: 400pt;
	height: 600pt;
	background: #fffc;
	border-radius: 15pt;
	display: flex;
	flex-direction: column;
}

#lid {
	width: 100%;
	height: 100pt;
	background-color: white;
	border-radius: 10pt 10pt 0pt 0pt;
	box-shadow: 0 10px 35px -10px rgba(0, 0, 0, 0.5);
	display: grid;
	place-items: center;
}

#title {
	margin: 20pt 0pt 0pt 0pt;
	text-align: center;
	font-size: 30pt;
	font-weight: 500;
}

#content {
	height: 400pt;
	margin: 0pt 20pt;
	flex: 1;
}

#logo {
	width: min(350pt, 100%);
	height: auto;
}

.label {
	font-size: 18pt;
	margin: 10pt 0pt 10pt 0pt;
}

.field {
	width: 100%;
	padding: 15pt 7pt;
	font-size: 15pt;
	font-weight: 400;
}

#inputs > * {
	display: block;
	box-sizing: border-box;
}

#secondary-actions {
	display: flex;
	justify-content: space-between;
}

.secondary {
	background: #0000;
	border-width: 0pt;
	height: 45pt;
	color: #ed4848;
	font-size: 14pt;
	padding: 0pt;
	margin: 10pt 0pt 0pt 0pt;
	padding: 0pt 5pt;
	transition: 0.15s;
}

.secondary:hover,
.secondary:active {
	color: #af3e3e;
}

.primary {
	background: #e74040;
	color: white;
	font-size: 16pt;
	border: 3pt solid #0000;
	padding: 10pt;
	box-shadow: 0pt 0pt 10pt #0005;
	border-radius: 20pt;
	width: 100%;
	box-sizing: border-box;
	margin-top: 20pt;
	transition-duration: 0.25s;
}

.primary:hover {
	box-shadow: 0pt 0pt 0pt #005;
	border: solid 3pt #0005;
	transition-duration: 0.25s;
}

.primary:active {
	background: #ff000040;
	box-shadow: 0pt 0pt 0pt #005;
	border: solid 3pt #0005;
	transition-duration: 0.25s;
}

@media (max-width: 700px), (max-height: 800px) {
	#wrapper {
		width: 100%;
		height: 100%;
		border-radius: 0pt;
		transition-duration: 0.25s;
	}
	#lid {
		border-radius: 0pt;
		transition-duration: 0.25s;
	}
}

@media (min-width: 700px) {
	#wrapper {
		transition-duration: 0.25s;
	}
}
