.dashboard-header {
	display: flex;
	padding: 3pt;
	margin: 4pt;
	border-radius: 5pt;
	margin-top: 10pt;
	align-items: center;
}

.dashboard-header h1 {
	min-width: 150pt;
	max-width: 500pt;
	flex: 3;
}

@media (max-width: 300px) {
	.dashboard-header {
		display: block;
	}
}

@media (min-width: 300px) {
	.dashboard-header h1 {
		margin: 0pt auto 0pt 0pt;
	}
}
