body {
	height: 100vh;
	width: 100vw;
	margin: 0pt;
	padding: 0pt;
	background: #df6666;
}

.primary,
flavor-button:active {
	background: #ebbf;
	color: black;
}

.secondary {
	background: #ec9a9a;
	color: black;
}

.tertiary {
	background: #fff8;
	color: black;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
textarea,
input {
	padding: 0pt;
	margin: 0pt;
	font-family: system-ui;
}

a {
	text-decoration: none;
	color: black;
}

button {
	cursor: pointer;
}

h1 {
	font-size: 24pt;
}

h2 {
	font-size: 18pt;
}

.main_content {
	width: calc(100% - 180pt);
	height: calc(100% - 80pt);
	margin: 20pt;
	padding: 20pt;
	border-radius: 10pt;
	flex: 1;
	overflow: hidden;
}

.container {
	display: flex;
	height: 100vh;
}

.input {
	padding: 10pt;
	border-width: 2pt;
	border-color: #ddd;
	border-radius: 7pt;
	border-style: solid;
}

.flavor-button {
	color: black;
	background: #fff;
	height: 25pt;
	border: none;
	border: solid 2pt #0000;
	border-radius: 20pt;
	font-size: 20px;
	font-weight: 700;
	padding: 0 10pt;
	margin: 0pt 0pt 0pt auto;
	box-shadow: 0pt 0pt 10pt #0005;
	transition-duration: 0.25s;
}

.flavor-button:hover {
	box-shadow: 0pt 0pt 0pt #005;
	border: solid 2pt #0005;
	transition-duration: 0.25s;
}

.flavor-button:active {
	background: #ff000040;
	box-shadow: 0pt 0pt 0pt #005;
	border: solid 2pt #0005;
}

@media (max-width: 575px) {
	.flavor-button {
		transition-duration: 0.25s;
		width: 100%;
		font-size: 12pt;
		height: 20pt;
	}
	h1 {
		font-size: 18pt;
	}
	h2 {
		font-size: 16pt;
	}
}
